@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';

@import "tailwindcss" layer(utilities);
@import "tailwindcss/theme" layer(theme);

@layer utilities {
    .animate-spin {
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
